*{
padding:0px;
margin:0px;
}

.outer
{
width:700px;
height:100%;
border:1px solid black;
margin:0px auto;
}
.outer h1
{
text-align:center;
}
.border
{
height:30px;
width:98%;
background-color:rgba(0,0,0,.3);
float:center;
text-align:left;
padding:05px 5px 5px 10px;
}
#p2
{
margin:10px 10px 10px 10px;
}
#ul1
{
margin:10px 10px 10px 50px;
font-size:16px;
}
#ul2
{
margin:10px 10px 10px 50px;
font-size:16px;





}






